{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="home">
        <h1>- My Field App - </h1>
    </section>
<!-- 
    <section id="forex">
        <h1>Forex</h1>
        <hr>
        {% if forex %}
            <table class="table table-bordered table-hover">
            <tr>
                <th scope="col">From code</th>
                <th scope="col">From currency</th>
                <th scope="col">To code</th>
                <th scope="col">To currency</th>
                <th scope="col">Exchange rate</th>
            </tr>
            {% for forex_entry in forex %}
                <tr>
                    <td>{{ forex_entry.from_currency_code }}</td>
                    <td>{{ forex_entry.from_currency_name }}</td>
                    <td>{{ forex_entry.to_currency_code }}</td>
                    <td>{{ forex_entry.to_currency_name }}</td>
                    <td class="rate">{{ forex_entry.exchange_rate }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>Error! Failed to load data.</p>
        {% endif %}
    </section>

    <section id="indicators">
        <h1>Indicators</h1>
        <hr>
            <div id="indicatorsButtons">
                <button type="button" class="btn btn-secondary" onclick="changeIndicatorsChart('first')">GDP per Capita</button>
                <button type="button" class="btn btn-secondary" onclick="changeIndicatorsChart('second')">Effective Federal Funds Rate</button>
                <button type="button" class="btn btn-secondary" onclick="changeIndicatorsChart('fourth')">Unemployment Rate</button>
            </div>
        <hr>
        {% if indicators %}
            {% for indicator in indicators %}
                <div id="indicatorsFirstBlock">
                    <h4>{{ indicator.1.name }} </h4>
                    <p>Unit: <b>{{ indicator.1.unit }}</b></p>
                    <p>Interval: <b>{{ indicator.1.interval }}</b></p>
                    <canvas id="indicatorsFirstChart" width="400" height="150">{{ indicator.1.datapoints }}</canvas>
                </div>
                <div id="indicatorsSecondBlock">
                    <h4>{{ indicator.2.name }} </h4>
                    <p>Unit: <b>{{ indicator.2.unit }}</b></p>
                    <p>Interval: <b>{{ indicator.2.interval }}</b></p>
                    <canvas id="indicatorsSecondChart" width="400" height="150">{{ indicator.2.datapoints }}</canvas>
                </div>
                <div id="indicatorsFourthBlock">
                    <h4>{{ indicator.4.name }} </h4>
                    <p>Unit: <b>{{ indicator.4.unit }}</b></p>
                    <p>Interval: <b>{{ indicator.4.interval }}</b></p>
                    <canvas id="indicatorsFourthChart" width="400" height="150">{{ indicator.4.datapoints }}</canvas>
                </div>
            {% endfor %}
        {% else %}
            <p>Error! Failed to load indicator data.</p>
        {% endif %}
    </section>

    <section id="news">
        <h1>News</h1>
        <hr>
        {% if news %}
            <div id="news-wall">
            {% for entry in news.0.feed %}
                <div class="single-news {% if forloop.first %}active{% endif %}">
                    <p><i class="fa fa-calendar"></i> {{ entry.time_published }}</p>
                    <a href="{{ entry.url }}" target="_blank">
                        <p>{{ entry.title }}</p>
                    </a>
                    <p>{{ entry.summary }}</p>
                    <p><b>Source:</b> {{ entry.source }}</p>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>Error! Failed to load data.</p>
        {% endif %}
    </section>

    <section id="commodities">
        <h1>Commodities</h1>
        <hr>
            <div id="commoditiesButtons">
                <button type="button" class="btn btn-secondary" onclick="changeCommoditiesChart('zero')">Crude Oil Prices WTI </button>
                <button type="button" class="btn btn-secondary" onclick="changeCommoditiesChart('first')">Natural Gas Spot Price </button>
                <button type="button" class="btn btn-secondary" onclick="changeCommoditiesChart('second')">Price of Copper </button>
                <button type="button" class="btn btn-secondary" onclick="changeCommoditiesChart('third')">Price of Aluminum </button>
            </div>
        <hr>
        {% if commodities %}
            {% for commodity in commodities %}
                <div id="commoditiesZeroBlock">
                    <h4>{{ commodity.0.name }} </h4>
                    <p>Unit: <b>{{ commodity.0.unit }}</b></p>
                    <p>Interval: <b>{{ commodity.0.interval }}</b></p>
                    <canvas id="commoditiesZeroChart" width="400" height="150">{{ commodity.0.datapoints }}</canvas>
                </div>
                <div id="commoditiesFirstBlock">
                    <h4>{{ commodity.1.name }} </h4>
                    <p>Unit: <b>{{ commodity.1.unit }}</b></p>
                    <p>Interval: <b>{{ commodity.1.interval }}</b></p>
                    <canvas id="commoditiesFirstChart" width="400" height="150">{{ commodity.1.datapoints }}</canvas>
                </div>
                <div id="commoditiesSecondBlock">
                    <h4>{{ commodity.2.name }} </h4>
                    <p>Unit: <b>{{ commodity.2.unit }}</b></p>
                    <p>Interval: <b>{{ commodity.2.interval }}</b></p>
                    <canvas id="commoditiesSecondChart" width="400" height="150">{{ commodity.2.datapoints }}</canvas>
                </div>
                <div id="commoditiesThirdBlock">
                    <h4>{{ commodity.3.name }} </h4>
                    <p>Unit: <b>{{ commodity.3.unit }}</b></p>
                    <p>Interval: <b>{{ commodity.3.interval }}</b></p>
                    <canvas id="commoditiesThirdChart" width="400" height="150">{{ commodity.3.datapoints }}</canvas>
                </div>
            {% endfor %}
        {% else %}
            <p>Error! Failed to load indicator data.</p>
        {% endif %}
    </section> -->
{% endblock content %}